[Unit]
Description=Bot Straight Back
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/my_bots/bot_straight_back
ExecStart=/my_bots/bot_straight_back/venv/bin/python3 /my_bots/bot_straight_back/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target